@model fourtynine.Postings.PostingSearchPageModel

@{
    ViewData["Title"] = "Searching";
}

@if (Model.Exception is not null)
{
    <p>
        There has been an error while processing your query: @Model.Exception.Message
    </p>
    return;
}

@foreach (var posting in Model.Results!)
{
    <pre>
        @Json.Serialize(posting)
    </pre>
}
