@page
@model fourtynine.Pages.Account.ConfirmEmail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    The email @Model.ApplicationUser.Email has been confirmed.
</div>
</body>
</html>