@page
@model fourtynine.Pages.Account.LogIn

@{
    Layout = "Shared/_BarebonesLayout";
    ViewData["Title"] = "Login";
}

<h1>Sign in</h1>

@foreach (var scheme in Model.Schemes)
{
    <form asp-page="@Model.PageName" method="get">
      <input type="hidden" asp-for="ProviderName" value="@scheme.Name" />
    
      <button
        class="
          x-6
          py-2.5
          bg-blue-600
          text-white
          font-medium
        "
        type="submit"
      >
      Sign in using @scheme.DisplayName
      </button>
    </form>
}
