@model fourtynine.Partials.FormCheckBoxModel

@* TODO: add validation *@
<div class="mb-6">
    <input
        type="checkbox"
        class="
            appearance-none
            h-4 w-4
            border
            border-gray-300
            rounded-sm
            bg-white
            checked:bg-blue-600
            checked:border-blue-600
            focus:outline-none
          
            transition
            duration-200
            mt-1
            align-top
            bg-no-repeat
            bg-center
            bg-contain
            float-left
            mr-2
            cursor-pointer
        "
        name="@(Model.Expression)"
        id="@(Model.Id)"
    >
    <label
        class="
            inline-block
            text-gray-700
        "
        for="@(Model.Id)"
    >@(Model.Label)</label>
</div>