<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - fourtynine</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
    
    <environment include="Development">
      <script type="module" src="/@@vite/client"></script>
      <script type="module" src="/src/main.ts"></script>
    </environment>
  
    <environment exclude="Development">
      <ImportFile path="src/main.ts"></ImportFile>
      <ImportFile path="src/main.css"></ImportFile>
    </environment>
</head>

@* https://github.com/tailwindtoolbox/Landing-Page/blob/master/index.html *@
<body 
  class="
    leading-normal 
    tracking-normal
    text-white
    brand-gradient-background
    font-sourceSansPro
  "
>
  @RenderBody()
</body>
</html>
