@using fourtynine.EditorTemplates

@{
    var additionalData = ViewData.GetInputProperties();
    var label = additionalData.Label ?? ViewData.GetLabel();
    var placeholder = additionalData.PlaceHolder;
}

@* TODO: add validation *@
<div class="form-group mb-6">
    @Html.Label("", label, new
    {
        @class = @"
            inline-block
            mb-2
            text-gray-700",
    })
    @{
        object inputHtmlAttributes = new
        {
            type = additionalData.InputType ?? "text",
            @class = @"
                block
                w-full
                px-3
                py-1.5
                text-base
                font-normal
                text-gray-700
                bg-white bg-clip-padding
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700
                focus:bg-white
                focus:border-blue-600
                focus:outline-none",
            placeholder,
        };
    }
    @Html.TextBox("", value: "", htmlAttributes: inputHtmlAttributes)
    @Html.ValidationMessage("", new
    {
        @class = @"text-red-600",
    })
</div>