# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# For the sake of simplyfing the project restore a little,
# I'm adding the generated client to source control.
# Otherwise, we'd have to wait until the backend runs to generate it in the nuke task.
#src/api-client.ts
